.student-columns{
    display: grid;
    grid-template-columns: 4fr 4fr;
}

.student-leftColumn{
    justify-content: center;
    text-align: center;
    align-items: center; 
}

.loginFormStu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center; 
    row-gap: 20px;
}

.student-rightColumn{
    display: flex;
    height: 100vh;
}

.loginBackground{
    background-image: url('../../images/Student/LoginBackground.png');
    background-size: cover;   
    background-position: center;
    border-bottom-left-radius: 230px;
    width: 100%;
    background-position-y: 0px;
    height: 100%;
}
