.columns {
  display: flex;
  overflow: hidden;
  position: relative;
}

.leftColumn, .rightColumn {
  width: 50%;
  transition: transform 0.8s ease;
}

/* Slide In */
.slide-in-left {
  transform: translateX(0);
}
.slide-in-right {
  transform: translateX(0);
}

/* Slide Out */
.slide-out-left {
  transform: translateX(-100%);
}
.slide-out-right {
  transform: translateX(100%);
}

/* Inicialmente ocultas fuera del viewport */
.leftColumn {
  transform: translateX(-100%);
}
.rightColumn {
  transform: translateX(100%);
}